### DATA SOURCES FOR HCBB PROJECT

- Physician & Other Supplier Payments: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier2017, Detailed Data

- Hospital Outpatient: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Outpatient, Detailed Data, APC to CPT/HCPCS crosswalk

- https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/HospitalOutpatientPPS/Addendum-A-and-Addendum-B-Updates, Addendum B â€“ January 2020 (correction files aren't necessary), 

- Zip Code to CBSA: https://www.huduser.gov/portal/datasets/usps_crosswalk.html

- Other: Data.CMS.gov

In [6]:
import pandas as pd
import pickle
import xlrd

In [9]:
%%time

outpatient_df = pd.DataFrame()
chunk_nbr = 1

for chunk in pd.read_csv('../class_data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv', chunksize = 1000):
    if chunk_nbr == 1:
        outpatient_df = outpatient_df.append(chunk)
        chunk_nbr += 1
    else: break
outpatient_df.head()

Wall time: 43.9 ms

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.01,1038.45,826.28,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.28,1792.60,1423.25,NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.61,2113.58,1683.99,0.0,0.0
3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,17116.16,3737.14,2977.55,0.0,0.0
4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17.0,17,7382.73,1029.46,820.21,0.0,0.0

In [36]:
outpatient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
Provider_ID                        1000 non-null int64
Provider_Name                      1000 non-null object
Provider_Street_Address            1000 non-null object
Provider_City                      1000 non-null object
Provider_State                     1000 non-null object
Provider_Zip_Code                  1000 non-null int64
Provider_HRR                       1000 non-null object
APC                                1000 non-null int64
APC_Desc                           1000 non-null object
Beneficiaries                      989 non-null float64
CAPC_Services                      1000 non-null int64
Average_Total_Submitted_Charges    1000 non-null float64
Average_Medicare_Allowed_Amount    1000 non-null float64
Average_Medicare_Payment_Amount    1000 non-null float64
Outlier_Services                   788 non-null float64
Average_Medicare_Outlier_Amount    788 non-null float64
dtypes: float64(6), int64(4), object(6)
memory usage: 125.1+ KB

In [26]:
#use index_col=None, header=None ?? need to move headers from row 1 to column headers
addendum_df = pd.read_excel('../class_data/2020_january_web_addendum_b.12312019.xlsx')
addendum_df.head()

,Unnamed: 0,Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,CPT codes and descriptions only are copyright ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Note: Actual copayments would be lower due to ...,* Indicates a Change
2,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
zip_crosswalk_df = pd.read_excel('../class_data/CBSA_ZIP_032020.xlsx')
zip_crosswalk_df.head()

    CBSA    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  10100  57445   0.044115   0.016156   0.037037   0.041101
1  10100  57456   0.000046   0.000000   0.000000   0.000039
2  10100  57441   0.014690   0.003401   0.000639   0.012785
3  10100  57474   0.005792   0.003401   0.001277   0.005295
4  10100  57401   0.751576   0.788265   0.933589   0.766139

In [35]:
zip_crosswalk_df = pd.read_excel('../class_data/ZIP_CBSA_032020.xlsx')
zip_crosswalk_df.sample(20)

         ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
31369  62723  44100   0.000000   1.000000        0.0   1.000000
4377   12751  99999   1.000000   1.000000        1.0   1.000000
14262  31558  41220   1.000000   1.000000        1.0   1.000000
4423   12812  99999   1.000000   1.000000        1.0   1.000000
46655  98392  14740   1.000000   1.000000        1.0   1.000000
16983  36925  99999   1.000000   1.000000        1.0   1.000000
43191  90224  31080   1.000000   1.000000        1.0   1.000000
20387  43791  49780   1.000000   1.000000        0.0   1.000000
29271  59044  13740   1.000000   1.000000        1.0   1.000000
29164  58755  99999   0.350000   0.000000        0.0   0.337349
32658  65263  99999   0.965104   1.000000        1.0   0.966030
22857  47647  99999   1.000000   1.000000        1.0   1.000000
6729   16845  30820   0.017621   0.000000        0.0   0.012618
37893  75928  99999   1.000000   1.000000        0.0   1.000000
36147  72540  99999   1.000000   1.000000        1.0   1.000000
17793  38315  27180   0.070541   0.068966        0.0   0.070476
24535  50044  37800   0.827133   0.888889        1.0   0.829787
3248    8825  35620   1.000000   1.000000        1.0   1.000000
35833  72085  42620   1.000000   0.000000        1.0   1.000000
19498  41826  99999   1.000000   1.000000        1.0   1.000000